/* General Styles */
:root {
    --primary-color: #06BCC1;
    --secondary-color: #12263A;
    --accent1-color: #C5D8D1;
    --accent2-color: #F4D1AE;
    --heading-font: "Knewave", sans-serif;
    --text-font: 'Roboto', sans-serif;
}
h1, h2 {
    font-family: var(--heading-font);
    font-size: 47px;
    font-weight: 400;
    color: var(--primary-color);
}
body {
    width: 1280px;
    margin: auto;
    font-family: var(--text-font);
    font-size: 18px;
    color: #1c1c1c;
}
a {
    text-decoration: none;
}

/* Hero Styles */
.hero {
    position: relative;
}
.hero > img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.hero article {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    background-color: var(--accent2-color);
}
.hero article img {
    display: block;
    width: 30%;
    height: auto;
}

